{% extends 'learning_logs/base.html' %}

{% block header %}
    <div class='jumbotron'>
      <h1>Track your learning.</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>
        <a href="{% url 'users:register' %}">Register an account</a> to make
        your own Learning Log, and list the topics you're learning about.
    </h2>
    <h2>
        Whenever you learn something new about a topic, make an entry
        summarizing what you've learned.
    </h2>
    <h3>
        This app was created using Python, Django, Git and Heroku domiain.
    </h3>
    
    <header>
		<img id ="logo" src="images/logo.png" alt="Pedal Faster - The modern bicycle magazine"
		width="100" height="100" class="logo" />
		<br/>
		
		<nav>
		<a href="">Home</a> / <a href="">News</a> / <a href="">Archives</a> /
		<a href="">About</a> / <a href="">Contact</a>
		</nav>
		
	</header>
		
		
			<!---paragraph with heading--->
		<div class="wrapper">
		<div class=" container_12">
			<div class="article grid_6">
			<h1 id="top">Success Secrets</h1>
			
			<p> Secrets of success are listed below: 
			
			 <ol  id="successpoints">
			   <li>Stop thinking and start doing (<q><i>Harkat mae barkat ha</i></q>).</li>
			   <li>Once you are off to a start there is no coming back(<q><i>Kashtiyan Jala ka chalo</i></q>).</li>
			   <li>Calm water doesn't make a good sailor so hope for struggle and hardship which will build your character.</li>
			   <li>"Commitment" and "Consistency" are the two driving wheels of Success.</li> 
			   <li>Make your own "LUCK".</li>
			 </ol>
			</p>
			</div>
			
			<div class="article grid_6">
		   <h1>Stop and Start</h1>
			<p><ul id="stop">
			   <li><b>Stop</b> thinking and <b>start</b> doing (<q><i>Harkat mae barkat ha</i></q>).</li>
			   <li>Once you are off to a start there is <b>no coming back</b>(<q><i>Kashtiyan Jala ka chalo</i></q>).</li>
			  </ul>
			</p>
			</p>
		   </div>
		   </div>
		</div>
		
		<br/>
		<div class=" container_12">
		<div class="article grid_6">
			<h2>Arthur Rimbaud</h2>
			<ul id="list-stared">
			<li>Ophelia</li>
			<li>To Music</li>
			<li>A Dream for Winter</li>
			<li>Vowels</li>
			<li>The Drunken Boat</li>
			</ul>
		</div>
		<div class="article grid_6">
			<figure><img id="img" src="images/image.jpg" alt="an image showing an envelope with secret of success written on it" />
			</figure>
			<br/>
			 <blockquote>"LUCK is an illusion in which people start believing when their expectations are either surpassed or fell short of."</blockquote>
		</div>
		</div>
		
		
		<p><img id="img1" src="images/image.jpg" alt="an image showing an envelope with secret of success written on it" />In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ... </p>	  
		
		Human breath in O<sub>2</sub> and exhale CO<sub>2</sub>, they also need to 
		 understand the <dfn>Einestin's theroem</dfn> E=mc<sup>2</sup>.
		  <q>11<sup>th</sup> of july</q> is an important date in the <strong>Shia Imami Islamili</strong> 
			 calender.
		  <abbr title="Professor">Prof.</abbr> Shoaib Ali is a good friend of mine and I will recommend him the post of
			 assistant professor at <acronym title="Sir Syed University of Engieering & Technology karachi">SSUET</acronym>
			 as I thing he will be a great inclusion in the faculty of this <del>auspicious</del> <ins>prestigious</ins> institution.
		<br/>
        <img id="img2" src="images/image.jpg" alt="an image showing an envelope with secret of success written on it" />
        
         <!---Tables--->

	<h2>January Expenditures</h2>
    <table class="janexpen">
    <thead>
    <tr>
    <th class="even">Date</th>
    <th class="even">Income</th>
    <th class="even">Expenditure</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th>1st January</th>
    <td>250</td>
    <td>36</td>
    </tr>
    <tr>
    <th class="even">2nd January</th>
    <td class="even">285</td>
    <td class="even">48</td>
    </tr>
    <!-- additional rows as above -->
    <tr>
    <th>31st January</th>
    <td>129</td>
    <td>64</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
    <td></td>
    <td class="even"><b>7824</b></td>
    <td class="even"><b>1241</b></td>
    </tr>
    </tfoot>
    </table>

        <!---forms--->
    <form action ="https://www.example.com/login.php">
        <p>Username:
        <input type="text" name="username" size="15" maxlength"30"/>
        </p>
        <p>Password:
        <input type="password" name="password" size="15" maxlength"30"/>
        </p>
    </form>

        <!--Text area-->

    <form action ="https://www.example.com/login.php">
      <p>what do you think if this life?</p>
        <textarea name="comments" cols="20" rows="4"> Please comment here.. </textarea>
    </form>

        <!--Radio button-->

    <form action ="https://www.example.com/proflie.php">
     <p>Please select your favourite genre:
      <br />
      <input type="radio" name="genre" value="rock" 
       checked="checked"/> Rock
      <input type="radio" name="genre" value="pop"/>
       Pop
      <input type="radio" name="genre" value="jazz"/>
       Jazz
     </p>
    </form>

        <!--Checkbox-->

    <form action="http://www.example.com/profile.php">
     <p>Please select your favorite travel Destinations:
      <br />
      <input type="checkbox" name="destination"
        value="gulmit" checked="checked" /> Gulmit
      <input type="checkbox" name="destination"
        value="borith" /> Borith
      <input type="checkbox" name="destination"
        value="passu" /> Passu
     </p>
    </form>

        <!--Dropping down list box-->

    <form action="http://www.example.com/profile.php">
        <p>What device do you listen to music on?</p>
        <select name="devices">
        <option value="ipod">iPod</option>
        <option value="radio">Radio</option>
        <option value="computer">Computer</option>
        </select>
    </form>

        <!--Multiple select box-->

    <form action="http://www.example.com/profile.php">
        <p>Do you play any of the following instruments?
        (You can select more than one option by holding
        down control on a PC or command key on a Mac
        while selecting different options.)</p>
        <select name="instruments" size="3"
        multiple="multiple">
        <option value="guitar" selected="selected">
        Guitar</option>
        <option value="drums">Drums</option>
        <option value="keyboard"
        selected="selected">Keyboard</option>
        <option value="bass">Bass</option>
        </select>
    </form>

        <!.--File input box-->

    <form action="http://www.example.com/uploads.php" method="post">
      <p>Upload your song in mp3 format:</p>
      <input type="file" name="user-song"/><br />
      <input id="upload" type="submit" value="upload" />
    </form>

        <!--submit button-->

    <form action="http://www.example.com/subscribe.php">
        <p>Subscribe to our email list:</p>
        <input type="text" name="email" />
        <input type="submit" name="subscribe"
        value="Subscribe" />
    </form>

        <!--image button-->

    <form action="http://www.example.org/subscribe.php">
        <p>Subscribe to our email list:</p>
        <input type="text" name="email" />
        <input type="image" src="images/subscribe.jpg"
        width="100" height="20" />
    </form>

        <!--button with hidden content-->

    <form action="http://www.example.com.php">
         <button><img src="images/add.png" alt="add" width="10" height="10" /> Add</button>
         <input typr+"hidden" name="bookmark" value+lyrics" />
    </form>
    <br/>
    
    <a class="button" id="add-to-basket">
        Add to basket</a>
        <a class="button" id="framing-options">
        Framing options</a>
<br/>

        <!--Labelling form-->
    <form action="example.php" method="post">
    <div>
    <label for="name" class="title">Name:</label>
    <input type="text" id="name" name="name" />
    </div>
    <div>
    <label for="email" class="title">Email:</label>
    <input type="email" id="email" name="email" />
    </div>
    <div>
    <span class="title">Gender:</span>
    <input type="radio" name="gender" id="male"
    value="M" />
    <label for="male">Male</label>
    <input type="radio" name="gender" id="female"
    value="F" />
    <label for="female">Female</label><br />
    </div>
    <div>
    <input type="submit" value="Register"
    id="submit" />
    </div>
    </form>
     <hr />

        <!--Grouping Form Elements-->
        
    <fieldset class="details">
        <legend>
        Your Details:
        </legend>
        <label>
        Name:
        <input type="text" name="name" size="30" maxlength="50">
        </label>
        <br />
        <label>
        Email:
        <input type="email" name="email" size="30" maxlength="50">
        </label>
    </fieldset>
    
    
    
    <fieldset class="contact-details">
     <legend>Contact details</legend>
     <lable><img src="images/mail.png">Email:<br />
     <input type="text" name="email" /></lable><br />
     <lable><img src="images/mobile.png">Mobile: <br />
     <input type="text" name="mobile" /></lable><br />
     <lable><img src="images/telephone.png">Telephone: <br />
     <input type="text" name="telephone" /></lable><br />
    </fieldset>
    
    
    
    <fieldset class="review">
        <legend>
        Your Review:
        </legend>
        <p>
        <label for="hear-about">
        How did you hear about us?
        </label>
        <select name="referrer" id="hear-about">
        <option value="google">Google</option>
        <option value="friend">Friend</option>
        <option value="advert">Advert</option>
        <option value="other">Other</option>
        </select>
        </p>
        <p>
        Would you visit again?
        <br />
        <label>
        <input type="radio" name="rating" value="yes" />
        Yes
        </label>
        <label>
        <input type="radio" name="rating" value="no" />
        No
        </label>
        <label>
        <input type="radio" name="rating" value="maybe" />
        Maybe
        </label>
        </p>
        <p>
        <label for="comments">
        Comments:
        </label>
        <br />
        <textarea rows="4" cols="40" id="comments">
        </textarea>
        </p>
        <label>
        <input type="checkbox" name="subscribe" checked="checked" />
        Sign me up for email updates
        </label>
        <br />
        <input type="submit" value="Submit review" />
    </fieldset>
    </div>
    </div>
    
    <br/>

        <!--HTML5:Form validation-->
    <div class="forms">
    <form action="http://www.example.com/login/" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username"
        required="required" /></title><br />
        <label for="password">Password:</label>
        <input type="password" name="password"
        required="required" />
        <input type="submit" value="Submit" />
    </form>

        <!--Date input:HTML5-->

    <form action="http://www.example.com/bookings/" method="post">
     <lable for="username">Departure date:</lable>
     <input type="date" name="depart" />
     <input type="submit" value="Submit" />
    </form>
		 
{% endblock content %}