{% extends 'learning_logs/base.html' %}

{% block header %}
    <div class='jumbotron'>
      <h1>Track your learning.</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>
        <a href="{% url 'users:register' %}">Register an account</a> to make
        your own Learning Log, and list the topics you're learning about.
    </h2>
    <h2>
        Whenever you learn something new about a topic, make an entry
        summarizing what you've learned.
    </h2>
    <h3>
        This app was created using Python, Django, Git and Heroku domiain.
    </h3>
    
    <header>
		<img id ="logo" src="images/logo.png" alt="Pedal Faster - The modern bicycle magazine"
		width="100" height="100" class="logo" />
		<br/>
		
		<nav>
		<a href="">Home</a> / <a href="">News</a> / <a href="">Archives</a> /
		<a href="">About</a> / <a href="">Contact</a>
		</nav>
		
	</header>
		
		
			<!---paragraph with heading--->
		<div class="wrapper">
		<div class=" container_12">
			<div class="article grid_6">
			<h1 id="top">Success Secrets</h1>
			
			<p> Secrets of success are listed below: 
			
			 <ol  id="successpoints">
			   <li>Stop thinking and start doing (<q><i>Harkat mae barkat ha</i></q>).</li>
			   <li>Once you are off to a start there is no coming back(<q><i>Kashtiyan Jala ka chalo</i></q>).</li>
			   <li>Calm water doesn't make a good sailor so hope for struggle and hardship which will build your character.</li>
			   <li>"Commitment" and "Consistency" are the two driving wheels of Success.</li> 
			   <li>Make your own "LUCK".</li>
			 </ol>
			</p>
			</div>
			
			<div class="article grid_6">
		   <h1>Stop and Start</h1>
			<p><ul id="stop">
			   <li><b>Stop</b> thinking and <b>start</b> doing (<q><i>Harkat mae barkat ha</i></q>).</li>
			   <li>Once you are off to a start there is <b>no coming back</b>(<q><i>Kashtiyan Jala ka chalo</i></q>).</li>
			  </ul>
			</p>
			</p>
		   </div>
		   </div>
		</div>
		
		<br/>
		<div class=" container_12">
		<div class="article grid_6">
			<h2>Arthur Rimbaud</h2>
			<ul id="list-stared">
			<li>Ophelia</li>
			<li>To Music</li>
			<li>A Dream for Winter</li>
			<li>Vowels</li>
			<li>The Drunken Boat</li>
			</ul>
		</div>
		<div class="article grid_6">
			<figure><img id="img" src="images/image.jpg" alt="an image showing an envelope with secret of success written on it" />
			</figure>
			<br/>
			 <blockquote>"LUCK is an illusion in which people start believing when their expectations are either surpassed or fell short of."</blockquote>
		</div>
		</div>
		
		
		<p><img id="img1" src="images/image.jpg" alt="an image showing an envelope with secret of success written on it" />In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ... </p>	  
		
		Human breath in O<sub>2</sub> and exhale CO<sub>2</sub>, they also need to 
		 understand the <dfn>Einestin's theroem</dfn> E=mc<sup>2</sup>.
		  <q>11<sup>th</sup> of july</q> is an important date in the <strong>Shia Imami Islamili</strong> 
			 calender.
		  <abbr title="Professor">Prof.</abbr> Shoaib Ali is a good friend of mine and I will recommend him the post of
			 assistant professor at <acronym title="Sir Syed University of Engieering & Technology karachi">SSUET</acronym>
			 as I thing he will be a great inclusion in the faculty of this <del>auspicious</del> <ins>prestigious</ins> institution.
		In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable,
		mounted in a frame ...In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...
		In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...
		<br/>
		<img id="img2" src="images/image.jpg" alt="an image showing an envelope with secret of success written on it" />
		mounted in a frame ...In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...
		In 1817 Baron von Drais invented a walking
		machine that would help him get around the royal
		gardens faster: two same-size in-line wheels, the
		front one steerable, mounted in a frame ...
		
		
	  </p>  
{% endblock content %}